<style type="text/css">
tr {
  cursor: pointer;
}

</style>

<table class="table table-hover table-striped table-responsive">
  <caption>Recent Files</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Download Link</th>
      <th>Category</th>
      <th>Details</th>
      <th>Uploaded By</th>
      <th>Date Uploaded</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, value) in files">
      <td ng-click="goToDetails({{value.id_files}})">{{value.file_title}}</td>
      <td ng-click="goToDetails({{value.id_files}})">{{value.category_name}}</td>
      <td>
        <a target="_self" href="{{baseUrl}}api/uploads/{{value.file_url}}" download="{{createFileName(value)}}">
          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-download"></i> Download</button>
        </a>
      </td>
      <!-- <td>{{value.file_url | limitTo : 20}}</td> -->
      <td ng-click="goToDetails({{value.id_files}})">{{value.file_details}}</td>
      <td ng-click="goToDetails({{value.id_files}})">{{value.first_name}} {{value.last_name}}</td>
      <td ng-click="goToDetails({{value.id_files}})">{{value.file_added}}</td>
    </tr>
    <tr>
      <td colspan="6" align="center">
        <button type="button" class="btn btn-default" ng-click="getRecentFiles()">
          <i class="fa fa-refresh fa-spin" ng-show="loading"></i> Load More
        </button>
      </td>
    </tr>
  </tbody>
</table>