<style type="text/css">
form{
	background-color: #b4b4b4 !important;
	padding: 20px;
}
.form-control,input,select,textarea{
	background-color: rgba(255, 255, 255, 0.9) !important;
}
.search-result tr,td{
	cursor: pointer;
}
.form-control{
	height: 25px !important;
	border-bottom: 1px dashed black !important;
	text-align: center !important;
}
</style>

<!-- <form name="applicationForm" ng-submit="togglePrintShow()" ng-if="showPrint">
	<legend>Application for Completion</legend>

	<div class="form-group">
		<label for="">Student Name</label>
		<button class="btn btn-success btn-lg" style="margin:0px 20px;"> {{application.student}} </button>
	</div>

	<div class="form-group">
		<label for="">Applicaiton</label>
		<textarea class="form-control" rows="20" name="application" ng-model="application.application"></textarea>
		<span class="label label-danger" ng-if="applicationForm.application.$error.required && applicationForm.application.$dirty">Required</span>
	</div>
	<div class="form-group">
		<input type="text" class="form-control" ng-model="searchStudent" ng-keyup="searchStudentInfo(searchStudent)" placeholder="Search for Student">
		<table class="table table-condensed table-hover search-result" ng-if="!!resultArray.length">			
			<tbody>
				<tr ng-repeat="(key, value) in resultArray" ng-click="application.student = {{value.first_name}} {{value.last_name}};">
					<th>{{value.academic_id}}</th>
					<th>{{value.first_name}} {{value.last_name}}</th>
				</tr>
			</tbody>
		</table>
		<br>
	</div>
	<div class="form-group">
		<label for="">Faculty Name</label>
		<button class="btn btn-success btn-lg" style="margin:0px 20px;"> {{application.faculty}} </button>
	</div>
	<div class="form-group">
		<label for="">Department Chairman</label>
		<button ng-if="application.chairman" class="btn btn-warning btn-lg" style="margin: 0px 20px;">{{application.chairman.additional_info_value}} <i class="fa fa-close" ng-click="application.chairman = ''"></i></button>
	</div>
	<div class="form-group">
		<input type="text" class="form-control" ng-model="search" ng-keyup="searchAdditionalInfo(search)" placeholder="Search for Official like Chairman, Dean">
		<table class="table table-condensed table-hover search-result" ng-if="!!resultArray.length">			
			<tbody>
				<tr ng-repeat="(key, value) in resultArray" ng-click="application.chairman = value; clearResult()">
					<th>{{value.additional_info_name}}</th>
					<th>{{value.additional_info_value}}</th>
				</tr>
			</tbody>
		</table>
		<br>
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<div ng-if="!showPrint">
	<div>
	<!-- 
			<pre>{{application.application}}</pre>
			{{application.faculty}}
			{{application.chairman.additional_info_value}}
		-->	
	</div>

	<div style="background-color:#bbb;padding:20px;margin:20px 0px;overflow: hidden;">
		<div style="text-align:center;">
			<img src="http://upload.wikimedia.org/wikipedia/en/b/b6/Logo_of_NSU.png" width="150">
			<br>
			<br>
			<br>
			<h4>Project Completion Acknowledgement</h4><br>
			<br>
			<br>
			<br>

			<p style="line-height: 3;text-align: justify;padding: 0px 33px;">
				This is to certify that <input type="text" class="form-control" style="width:30%;display: inline;" placeholder="Student name" ng-model="application.student.name"> ID 
				<span>
					<input type="text" class="form-control" ng-keyup="searchStudent(application.student.academic_id)" placeholder="Student Id" style="width:30%;display: inline;" ng-model="application.student.academic_id">
					<table class="table table-condensed table-hover search-result" ng-if="!!resultArray.length">			
						<tbody>
							<tr ng-repeat="(key, value) in resultArray" ng-click="selectStudent(value)">
								<th>{{value.first_name}} {{value.last_name}}</th>
								<th>{{value.academic_id}}</th>
							</tr>
						</tbody>
					</table>
				</span> has passed <input type="text" class="form-control" style="width:30%;display: inline;" placeholder="Course code: ex. CSE-499"> by completing the <label><input name="type" type="radio"> Thesis </label> <label><input name="type" type="radio"> Internship</label> <label><input name="type" type="radio"> Research</label> titled <input type="text" class="form-control" style="width:90%;display: inline;"  placeholder="Title"> under supervision of {{capitalizeFirstLetter(application.faculty)}} in  <input type="text" class="form-control" style="width:30%;display: inline;" placeholder="Semester: ex. Spring-15" ng-model="application.semester">
			</p>
			<br>
			<br>
			<p>The Student also submitted the report along with all necessary materials to the respective faculty.</p>
			<br>
			<br>
			<br>
			<div class="col-xs-6">
				_______________________ <br>
				{{capitalizeFirstLetter(application.faculty)}} <!-- <input type="text" class="form-control" style="width:200px;display: inline;" placeholder="Faculty Name" ng-model="application.faculty"> --> <br>
				Course Supervisor
			</div>
			<div class="col-xs-6">
				_______________________ <br>
				<input type="text" class="form-control" style="width:200px;display: inline;" placeholder="Chairman Name"> 
				<br>
				Chairman of ECE <br>
				North South University
			</div>
		</div>
	</div>


	<button type="button" class="btn btn-info" ng-click="togglePrintShow()">Print Preview</button>
</div>