<table class="table table-responsive">
	<tbody>
		<tr>
			<th>File Name</th>
			<td>{{file.data[0].file_title | uppercase}}</td>
		</tr>
		<tr>
			<th>File Details</th>
			<td>{{file.data[0].file_details}}</td>
		</tr>
		<tr>
			<th>file tags</th>
			<td>
				<button class="btn btn-info" ng-repeat="(key, value) in file.data">{{value.tag_name}}</button>
			</td>
		</tr>
		<tr>
			<th>Uploader</th>
			<td>{{file.data[0].first_name}} {{file.data[0].last_name}}</td>
		</tr>
		<tr>
			<th>Add to favorite</th>
			<td> <favorite></favorite> <strong>Total Favorite: {{file.total_favorite}}</strong></td>
		</tr>
		<tr>
			<th>Like</th>
			<td> <like></like> <strong>Total Liked: {{file.total_liked}}</strong></td>
		</tr>
		<tr>
			<th>Download</th>
			<td> 
				<a ng-href="api/uploads/{{file.data[0].file_url}}" download="{{createFileName(file.data[0])}}">
					<button type="button" class="btn btn-default"><i class="fa fa-download"></i></button>
				</a>
			</td>
		</tr>
		<tr>
			<th>Date Uploaded</th>
			<td>{{file.data[0].file_added}}</td>
		</tr>
	</tbody>
</table>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background:#CDCDCD;padding:20px;">
	<blockquote ng-repeat="(key, value) in allComments" ng-class="{'':value.id_users == file.data[0].id_users ,'blockquote-reverse': value.id_users != file.data[0].id_users}">
		<p>{{value.comment}}</p>
		<footer><strong>{{value.first_name}} {{value.last_name}} ({{value.date_created}})</strong></footer>
	</blockquote>
	<!-- <blockquote class="blockquote-reverse">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
		<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
	</blockquote> -->
	<div class="alert {{alerm.className}}" ng-show="alerm.show">
		<strong>{{alerm.title}}</strong>  {{alerm.body}}
	</div>
	<div class="form-group">
		<label>Write Your Comment</label>
		<textarea class="form-control" ng-model="comment"></textarea>
	</div>
	<div class="form-group">
		<button type="button" ng-click="submitComment(comment)" class="btn btn-info" ng-disabled="!comment">Submit</button>
	</div>
</div>
