<div>
	<div class="alert custom-alert" ng-class="error.className">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>{{error.title}}</strong> {{error.body}}
	</div>
</div>
<form name="updatePasswordForm">
	<legend>Update Password</legend>

	<div class="form-group">
		<label for="">Password</label>
		<input type="password" class="form-control" name="password" ng-model="update.password" placeholder="Password" required>
	</div>

	<div class="form-group">
		<label for="">Confirm Password</label>
		<input type="password" class="form-control" name="repassword" ng-model="update.repassword" placeholder="Confirm Password" required>
	</div>

	

	<button ng-click="updatePassword()" ng-disabled="update.password != update.repassword || updatePasswordForm.$invalid" class="btn btn-primary">Submit</button>
</form>